body {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  padding: 0;
  margin: 0;
}

.tlbr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin: 0;
  height: 54px;
  padding: 0 36px 0 24px;
}

.tlbr a {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  text-decoration: none;
  animation-name: logo-anim;
  animation-duration: 1s;
}

@keyframes logo-anim {
  100% { transform: rotate(360deg); }
}

.tlbr ul.mnuitms {
  display: none;
}

.tlbr nav button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mdl {
  margin: 0;
  background-color: #f7f7f9;
}

.hdlnsct {
  background-image: url('images/header-shapes-mobile.png');
  background-repeat: no-repeat;
  padding: 128px 24px 136px 24px;
  background-color: #fff;
  border-bottom-left-radius: 80px;
}

.hdlnsct h1,
.abtmslf h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  margin: 0;
}

.hdlnsct p.sftdv,
.abtmslf p.abtp {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #344563;
  padding-top: 0;
  padding-bottom: 0;
}

.hdlnsct p.lts,
.abtmslf p.abtlts {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
}

.hdlnsct ul,
.abtmslf ul.abtscl {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: baseline;
  margin: 0;
}

.hdlnsct ul li,
.abtmslf ul.abtscl li {
  margin-right: 8px;
  transition-property: transform;
  transition-duration: 1s;
  padding: 0;
}

.hdlnsct ul li:hover,
.abtmslf ul.abtscl li:hover {
  transform: scale(1.5);
}

.crds {
  display: grid;
  grid-template-rows: auto auto auto auto;
  row-gap: 88px;
  padding: 114px 24px 114px 24px;
}

.crd {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 8px;
}

.crd h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  margin-top: 5px;
  margin-bottom: 0;
}

.crd img {
  transition-property: transform;
  transition-duration: 1s;
}


.crd img:hover {
  transform: scale(1.1);

@media (min-width: 768px) {
  .card img::after {
    content: url('images/first_card_image_desktop.png');
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    width: 75%;
  }

  .card img:hover {
    transform: scale(1.1);
  }
}

.crd ul.prjs {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: baseline;
  justify-content: flex-start;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  margin: 0;
}

.crd .crdtxt ul.prjs li {
  margin-right: 10px;
}

.crd ul.prjs li:nth-child(1) {
  color: #344563;
}

.crd ul.prjs li:nth-child(3),
.crd ul.prjs li:nth-child(5) {
  color: #7a869a;
}

.crd p.dlytxt {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #344563;
}

.crd ul.lngs {
  margin: 0;
  display: flex;
  list-style-type: none;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #6070ff;
}

.crd ul.lngs li p {
  margin-right: 10px;
  background-color: #ebebff;
  border-radius: 8px;
  padding: 10px;
}

.crd button.seprjsbtn,
.abtmslf .abttxtsct .abtrsmbtn {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  padding: 10px;
  color: #396df2;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 1s;
}

.crd button.seprjsbtn:hover,
.abtmslf .abttxtsct .abtrsmbtn:hover {
  background-color: #6070ff;
  color: #fff;
}

.crd button.seprjsbtn:focus,
.abtmslf .abttxtsct .abtrsmbtn:focus {
  background-color: #2230d2;
  color: #fff;
}

.crd button.seprjsbtn:active,
.abtmslf .abttxtsct .abtrsmbtn:active {
  background-color: #2230d2;
  color: #fff;
}

.crd button.seprjsbtn:active,
.abtmslf .abttxtsct .abtrsmbtn:disabled {
  background-color: transparent;
  color: #5e6c84;
  border: 1px solid #c1c7d0;
}

.abtmslf {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 114px 24px 114px 24px;
  border-top-right-radius: 80px;
}

.abtmslf .abtbtnssct ul.lsflst {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
}

.abtmslf .abtbtnssct ul.lsflst li.spcr {
  width: 100%;
  height: 1px;
  background-color: #dfe1e6;
  margin-top: 10px;
  margin-bottom: 10px;
}

.abtmslf .abtbtnssct ul.lsflst li button {
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  width: 90%;
  text-align: left;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.abtmslf ul.lsf_lst li .btnsopnd {
  background-image: url('images/down-arrow.png');
  background-repeat: no-repeat;
  background-position: right;
}

.abtmslf ul.lsfbtnscontnt {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.abtmslf .abtbtnssct ul.lsfbtnscontnt li {
  display: flex;
  align-items: center;
  width: 90%;
  background-color: #f7f7f9;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #253858;
  margin-bottom: 10px;
  padding: 10px;
}

.abtmslf .abtbtnssct ul.lsfbtnscontnt li img {
  margin-right: 20px;
}

.abtmslf ul.lsflst li .btnsclsd {
  background-image: url('images/right-arrow.png');
  background-repeat: no-repeat;
  background-position: right;
}

.whtbgclr {
  background-color: #fff;
}

.ftrbg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #6070ff;
  padding: 114px 24px 45px 24px;
  border-top-left-radius: 80px;
  background-image: url('images/contact-form-shapes-mobile.png');
  background-repeat: no-repeat;
  background-position: right;
  width: fit-content;
}

.ftrbg h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #fff;
}

.ftrbg p.cntctp {
  padding: 20px 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ebebff;
}

.ftrbg form {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 8px;
}

.ftrbg form#cntctfrm input {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  border-radius: 8px;
  height: 48px;
}

.ftrbg textarea#msg {
  border: 1px solid black;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  border-radius: 8px;
  padding-left: 10px;
  padding-top: 10px;
}

.ftrbg form#cntctfrm input:nth-child(4) {
  align-self: baseline;
  width: 140px;
  margin-top: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  padding: 10px;
  color: #396df2;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: white;
  transition-property: background-color;
  transition-duration: 1s;
}

.ftrbg form#cntctfrm input:nth-child(4):hover {
  background: #6070ff;
  color: #fff;
}

.ftrbg form#cntctfrm input:nth-child(4):focus {
  background: #2230d2;
  color: #fff;
}

.ftrbg form#cntctfrm input:nth-child(4):active {
  background: #2230d2;
  color: #fff;
}

.ftrbg form#cntctfrm input:nth-child(4):disabled {
  background-color: transparent;
  color: #5e6c84;
  border: 1px solid #c1c7d0;
}

@media (min-width: 768px) {
  .tool_bar {
    padding: 0 166px 0 155px;
  }

  .tlbr nav button {
    display: none;
  }

  .tlbr ul.mnuitms {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
  }

  .tlbr ul.mnuitms a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #344563;
  }

  .tlbr ul.mnitms li {
    margin-right: 10px;
  }

  .hdlnsct {
    background-image: url('images/header-shapes-desktop.png');
    padding: 359px 260px 255px 260px;
  }

  .crds {
    padding: 142px 142px 142px 142px;
    row-gap: 142px;
  }

  .crd {
    flex-direction: row;
    column-gap: 0;
  }

  .crd img::after {
    content: url('images/first_card_image_desktop.png');
    width: 50%;
  }

  .crdtxt {
    padding: 0;
    width: 50%;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .crd:nth-child(2) {
    flex-direction: row-reverse;
  }

  .crd:nth-child(4) {
    flex-direction: row-reverse;
  }

  .abtmslf {
    flex-direction: row;
    padding: 142px 142px 142px 142px;
  }

  .abtmslf .abttxtsct {
    width: 50%;
    margin-right: 20px;
  }

  .abtmslf .abtbtnssct {
    width: 50%;
  }

  .abtmslf ul.lsfbtnscontnt {
    flex-direction: row;
  }

  .abtmslf .abtbtnssct ul.lsfbtnscontnt li {
    flex-direction: column;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }

  .abtmslf .abtbtnssct ul.lsfbtnscontnt li img {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .ftrbg {
    background-image: url('images/contact-form-background-shapes-desktop.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-clip: padding-box;
    padding: 210px 336px 139px 336px;
  }

  .ftrbg form#cntctfrm input:nth-child(4) {
    margin: auto;
  }
}
